body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img { border: 0 }

ol,
ul { list-style: none}

caption,
th { text-align: left }

h1, h2, h3, h4, h5, h6 { margin: 0 0 10px 0; word-wrap: break-word; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; color: #333; line-height: 100%; margin: 0; font-weight:normal; letter-spacing:.02em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}
/** NAVIGATION **/

.social{
    margin-left: -30px;
    padding: 18px 10px;
    float: left;
    line-height: 21px;
    height: 60px
}


@media(min-width:480px) {
        .social{
            margin-left: -15px;
        }
}

@media(min-width:1000px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand{
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand{
        font-size: 1.5em;
    }
    .social{
        padding: 13px;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    opacity: 0.9;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-toggle {
    margin-top: 13px;
}

.nav {
    margin-top: 10px;
}
/** OTHER CSS*/
.header-wrapper {
    position: fixed; top: 0; left: 0; width: 100%; 
    background:url(../images/white-fade.png) repeat;
    padding: 0px;
    z-index: 220;
    clear: both; 
    -moz-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    -webkit-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    -o-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    height:74px;
}

.header {
    max-width: 1360px;
    margin: 30px auto auto auto;
    padding-left:20px;
    padding-right:20px;
    width: 92%;
    position: relative;
}

.aboutItem {
    display: block;
    right: 0;
    position: relative;
    margin-bottom: 20px
}

.projectItem {
    display: block;
    right: 0;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
}

.projectItem div {
    margin-top: 20px;
    text-align: center;
}

.projectItem .description {
    text-align: left;
}

.projectItem img {
    height: 190px;
    margin: 10px;
}

.tdlImages img {
    height: 300px;
    margin: 10px;
}

@media(min-width:768px) {

    .projectItem img {
        height: 250px;
        margin: 10px;
    }

    .tdlImages img {
        height: 400px;
        margin: 10px;
    }
}

@media(min-width:924px) {
    .projectItem img {
        height: 350px;
        margin: 10px;
    }

    .tdlImages img {
        height: 500px;
        margin: 10px;
    }
}
.projectTitle p {
    height: 100%;
}

.profileImage {
    border-radius: 80px;
    margin: auto;
    display: block;
}

.innerItem {
    margin: 0 auto;
    background-color: #eee;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
}

#main-logo {
    float: left;
    cursor: pointer;
    margin: 20px 0 0 6px;
    color: #0846B9;
    }

.hero-unit {
    font-weight: 200;
    margin-top: -10px;
    line-height: 30px;
    /*background-color: #eee;*/
    border-radius: 6px;
    /*padding: 60px;*/
}

@media(min-width:1000px) {
    .hero-unit {
        margin-top: 15px;
    }
}

.container-fluid {
    max-width: 1360px;
    margin: 100px auto 30px auto;
    width: 92%;
    position: relative;
}

.container-nav{
    min-width: 300px !important;
    display: table;
    table-layout: fixed;
}

.container-nav div {
    display: inline;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.footer {
    padding: 15px;
    background-color: #eee;
}

.copyright {
    text-align: center
}

.github {
    width: 30px;
    height: 30px;
    background-image: url(../images/social/github_sm.png);
}

.github:hover{
    background-image: url(../images/social/github_sm_hover.png);
}

.linkedin {
    width: 30px;
    height: 30px;
    background-image: url(../images/social/linkedin_sm.png);
}

.linkedin:hover{
    background-image: url(../images/social/linkedin_sm_hover.png);
}

.twitter {
    width: 30px;
    height: 30px;
    background-image: url(../images/social/twitter_sm.png);
}

.twitter:hover{
    background-image: url(../images/social/twitter_sm_hover.png);
}

.instagram {
    width: 30px;
    height: 30px;
    background-image: url(../images/social/instagram_sm.png);
}

.instagram:hover{
    background-image: url(../images/social/instagram_sm_hover.png);
}

@media(min-width:1000px) {
    .github {
        width: 40px;
        height: 40px;
        background-image: url(../images/social/github.png);
    }

    .github:hover{
        background-image: url(../images/social/github_hover.png);
    }

    .linkedin {
        width: 40px;
        height: 40px;
        background-image: url(../images/social/linkedin.png);
    }

    .linkedin:hover{
    background-image: url(../images/social/linkedin_hover.png);
    }

    .twitter {
        width: 40px;
        height: 40px;
        background-image: url(../images/social/twitter.png);
    }

    .twitter:hover{
        background-image: url(../images/social/twitter_hover.png);
    }
    .instagram {
        width: 40px;
        height: 40px;
        background-image: url(../images/social/instagram.png);
    }

    .instagram:hover{
        background-image: url(../images/social/instagram_hover.png);
    }
}