body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img { border: 0 }

ol,
ul { list-style: none}

caption,
th { text-align: left }

h1, h2, h3, h4, h5, h6 { margin: 0 0 10px 0; word-wrap: break-word; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333; line-height: 100%; margin: 0; font-weight:normal; letter-spacing:.02em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
/** NAVIGATION **/
@media(min-width:1000px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand{
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand{
        font-size: 1.5em;
    }
    .social{
        font-size: 1.5em;
    }
}
@media(min-width:480px) {
        .social{
            margin-left: -15px !important;
        }
}
.social{
    margin-left: -30px;
    padding: 15px;
    float: left;
    line-height: 21px;
    height: 60px
    text-transform: uppercase;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
/** OTHER CSS*/
.header-wrapper {
    position: fixed; top: 0; left: 0; width: 100%; 
    background:url(../images/white-fade.png) repeat;
    padding: 0px;
    z-index: 220;
    clear: both; 
    -moz-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    -webkit-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    -o-transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    height:74px;
}

.header {
    max-width: 1360px;
    margin: 30px auto auto auto;
    padding-left:20px;
    padding-right:20px;
    width: 92%;
    position: relative;
}

.row div {
    background-color: #aaa;
}

#main-logo {
    float: left;
    cursor: pointer;
    margin: 20px 0 0 6px;
    color: #0846B9;
    }

.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.container-fluid {
    max-width: 1360px;
    margin: 100px auto 30px auto;
    width: 92%;
    position: relative;
}

.container-nav{
    min-width: 300px !important;
    display: table;
    table-layout: fixed;
}

.container-nav div {
    display: inline;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
