# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php

#RewriteEngine On

#Options +FollowSymLinks

# Forward requests with _escaped_fragment_ parameter to SEO.js CDN
#RewriteCond %{QUERY_STRING}  _escaped_fragment_=  [NC]

#RewriteRule ^(.*)$ http://cdn.getseojs.com/v2/5ezjbgk68k9legtui77nrqv89/%{REQUEST_SCHEME}://%{HTTP_HOST}:%{SERVER_PORT}/$1 [P,QSA,L]