<div class="container-fluid">
	<div class="hero-unit">
		<div class="row">
			<div class="col-sm-12 aboutItem">
				<div class="innerItem">
					<img class="profileImage" src="images/rsz_profile_image.png" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 aboutItem">
				<div class="innerItem about">
					<h3>Hey, how's it going!</h3>
                    <p>I'm a Software Engineering student at the University of Waterloo. I've interned at
                        <a href="http://yelp.com" target="_blank">Yelp</a>,
                        <a href="http://zanbato.com" target="_blank">Zanbato</a>,
                        <a href="http://pivotallabs.com" target="_blank">Pivotal Labs</a> and
                        <a href="http://tangamgaming.com" target="_blank">Tangam Systems</a>.
                    </p>
                    <p>
                        <strong>I'm a technology enthusiast who loves creating innovative solutions to solve real life problems.</strong>
                        My current interests are in machine learning, algorithm design, scalable and distributed architecture, and optimization.</p>
				</div>
			</div>
			<div class="col-sm-4 aboutItem">
				<div class="innerItem interests">
					<h3>Here are some of the things I love to do</h3>
                    <p>
                        • I live a healthy lifestyle which involves working out often and being involved in casual sports.
					</p>
                    <p>
                        • I don't think I'm at the level of a "foodie" yet, but I do love eating and trying new foods everywhere.
					</p>
                    <p>
                        • Exploring is in my nature. I aspire to try new experiences.
					</p>
                    <p>
                        • On my spare time I play Dota 2, read books and blogs, and catch up on my favourite shows.
					</p>
				</div>
			</div>
			<div class="col-sm-4 aboutItem">
				<div class="innerItem technical">
                    <h3>Machine Learning</h3>
                    <p>
                        Experience with supervised learning, clustering and dimensionality reduction using sci-kit learn, scipy, and numpy.
                        Able to isolate clean labelled data and derive features.
                        Ability to run statistical analysis across a variety of datasets using Python, Redshift and Splunk.
                    </p>
					<h3>Software Development</h3>
                    <p>
                        Experience with modern web frameworks such as Django and Node. Front-end experience with Angular, Backbone, Knockout, jQuery and LESS.
                        Database experience using Mongo, Postgres, SQL Server and MySQL.
                        Android experience from work, personal projects, and hackathons.
					</p>
				</div>
			</div>
		</div>
		<div class="connect">
			Connect with me on <a href="https://github.com/chrisjluc" target="_blank">Github</a>,
			<a href="http://ca.linkedin.com/in/christopherluc" target="_blank">Linkedin</a>,
			<a href="https://twitter.com/chrisjluc" target="_blank">Twitter</a>,
			and <a href="http://instagram.com/chrisjluc" target="_blank">Instagram</a>! Or shoot me an
			<a href="mailto:chris.luc93@gmail.com" target="_top">
			email</a>!
		</div>
		<br/>
	</div>
</div>
