<div class="container-fluid">
	<div class="hero-unit">
		<div class="row">
			<div class="col-sm-12 aboutItem">
				<div class="innerItem">
					<img class="profileImage" src="images/rsz_profile_image.png" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 aboutItem">
				<div class="innerItem about">
					<h3>Hey, how's it going!</h3>
                    <p>I'm a Software Engineering student at the University of Waterloo, graduating in 2018. I've interned at
                        <a href="http://www.zanbato.com" target="_blank">Zanbato</a>,
                        <a href="http://www.pivotallabs.com" target="_blank">Pivotal Labs</a> and
                        <a href="http://www.tangamgaming.com" target="_blank">Tangam Systems</a>.
                    </p>
                    <p>
                        <strong>I'm a technology enthusiast who loves creating cool solutions to solve real life problems.</strong>
                        I enjoy collaborating with people in <a href="http://www.github.com/chrisjluc" target="_blank">open source</a> projects and hackathons.
                        I have a desire to learn through discussion with others and through personal research.
                        My current interests are in machine learning, data mining, algorithm design, scalable and distributed architecture, and optimization.</p>
				</div>
			</div>
			<div class="col-sm-4 aboutItem">
				<div class="innerItem interests">
					<h3>Here are some of the things I love to do</h3>
                    <p>
                        • I live a healthy lifestyle which involves eating clean, going for a good workout a few times a week, and being involved in casual sports such as ultimate frisbee, snowboarding, hockey and running.
					</p>
                    <p>
                        • I don't think I'm at the level of a "foodie" yet, but I do love eating and trying new foods everywhere.
					</p>
                    <p>
                        • Exploring is in my nature. I aspire to try new things whether it be activities, games or food!
					</p>
                    <p>
                        • On my spare time I play Dota 2, read books and blogs, and catch up on my favourite shows.
					</p>
				</div>
			</div>
			<div class="col-sm-4 aboutItem">
				<div class="innerItem technical">
					<h3>Technical Summary</h3>
					<p>Has an excellent understanding of algorthims and data structures, object oriented paradigms, concurrency, agile methodologies, and test driven development.</p>
					<h4>Back-end Development</h4>
                    <p>
                        Develops Django apps using Celery and Postgres.
                        Creates REST APIs using Django and Node.js.
                        Experience with Java and C# as a back-end language, powered by SQL Server and MySQL.
                    </p>
					<h4>Front-end Development</h4>
                    <p>
                        Works with JS frameworks such as Angular, Backbone, jQuery, Knockout and Sammy to create beautiful, dynamic web pages.
                        Also familiar with LESS and Bootstrap.
                    </p>
					<h4>Mobile Development</h4>
                    <p>
                        Designs and develops Android apps for work, personal projects, and hackathons.
                        Understands important fundamentals such as activity life cycles, data synchronization, building UI, and services.
                        Experience in developing web apps for mobile using Backbone.
					</p>
				</div>
			</div>
		</div>
		<div class="connect">
			Connect with me on <a href="https://github.com/chrisjluc" target="_blank">Github</a>,
			<a href="http://ca.linkedin.com/in/christopherluc" target="_blank">Linkedin</a>,
			<a href="https://twitter.com/chrisjluc" target="_blank">Twitter</a>,
			and <a href="http://instagram.com/chrisjluc" target="_blank">Instagram</a>! Or shoot me an
			<a href="mailto:chris.luc93@gmail.com" target="_top">
			email</a>!
		</div>
		<br/>
	</div>
</div>
