<div class="hero-unit">
	<div class="row">
		<div class="col-sm-4 aboutItem">
			<div class="innerItem">
				<img class="profileImage" src="images/profile_image.jpg" alt="">
			</div>
		</div>
		<div class="col-sm-8 aboutItem">
			<div class="innerItem">
				<h3>Intro</h3>
				 <p>since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 aboutItem">
			<div class="innerItem">
				<h3>Interests</h3>
				Bonjour, I'm Chris
			</div>
		</div>
		<div class="col-sm-6 aboutItem">
			<div class="innerItem">
				<h3>Technical Summary</h3>
				 <p>since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived naskdfj asdfh asdhf akjs dkjahs dfljha skdj asjd fjh djfhasdfu wuurqiopwei ruqoiewiur  zvnz,cxcnvx znxc nvzxc nvmxc v zc nvzxcn vmzcnxv,mznxcvzmnxcv,nzxcxcnvn  n n n nn n nn n n n n nn n n not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</div>
