<div class="container-fluid">
	<div class="hero-unit">
		<div class="row projectItem">
			<div>
				<h2>Uniq</h2>
			</div>
			<a href="http://uniq.url.ph/" target="_blank">
				<div>
					<img src="images/uniq1.png"/>
					<img src="images/uniq2.png"/>
				</div>
			<a/>
			<div class="description">
				<p>Uniq is built for prospective students looking for an easy way to explore all the programs in any school all at the same time and in a personalized way. Go into explore view and take a peak at any program, if it sparks your interest start your indepth research all within the app! Tell us about yourself, and we will recommend which programs are a good fit and if you have the marks to make programs you're interested in. Uniq currently let's you explore many programs, with many features coming soon!</p>
				<h4>Challenges</h4>
				<p>Designing a generic model for all the schools, faculties, and programs because of the large variety and fluctuations in data. We are still working on adding more properties to these models to allow for more indepth research for the users. We also created a framework to populate new records with historical data and data from other models, so data insertion will be much easier.</p>
			</div>
		</div>
		<div class="row projectItem">
			<div>
				<h2>TDL</h2>
			</div>
			<a href="https://github.com/chrisjluc/tdl-gradle" target="_blank">
				<div class="tdlImages">
					<img src="images/tdl1.png"/>
					<img src="images/tdl2.png"/>
				</div>
			<a/>
			<div class="description">
				<p>TDL is a to do list with many features in mind. Currently, we have hashtag grouping, by just including hashtags in your tasks we can detect and group these hashtags. We also have a custom interface which groups tasks by dates and an overhead calendar to easily view what you have to do in the short and long term. We have plans for reminders through notifications and better integration between the calendar and the tasks.</p>
				<h4>Challenges</h4>
				<p>Building the listview took time because it include a few adapters and nested listviews to allow for the many features: expandable headers, swipe-to-delete, and tap to edit.</p>
			</div>
		</div>
		<div class="row projectItem">
		<div class="row projectItem">
			<div>
				<h2>Nibbble</h2>
			</div>
			<div class="tdlImages">
				<a href="https://github.com/chrisjluc/Nibbble" target="_blank">
					<img src="images/nibbble1.png"/>
					<img src="images/nibbble2.png"/>
				</a>
			</div>
			<div class="description">
				<p>Nibbble is an Android app that uses the <a href="https://dribbble.com/">Dribbble</a> API to cycle through images and set them as your wallpaper. The default mode grabs random pictures from the API but if you have an account, it can select images from people you're following!
				<h4>Challenges</h4>
				<p>Creating the background thread that controls the setting of the wallpaper and using the Wallpaper Service because I haven't used it before.</p>
			</div>
		</div>
		</div>
	</div>
</div>