<div class="container-fluid project-page">
    <div class="hero-unit">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Tables</h2>
                        <p>Beta</p>
                    </div>
                    <div class="card-content">
                        <p>
                        Allows you to seamlessly order and pay for your meal
                        through you mobile device. Integrating with POS systems and payment services.
                        Visit our
                        <a href="http://thetablesapp.com" target="_blank">website</a>
                        to learn more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Onesearch</h2>
                        <p>4.9 stars, 60 ratings, 900 downloads</p>
                    </div>
                    <div class="card-content">
                        <p>
                        Onesearch is an addicting twist of the classic word search game.
                        Download on the
                        <a href="https://play.google.com/store/apps/details?id=chrisjluc.onesearch"
                            target="_blank">Playstore</a> or visit our
                        <a href="https://facebook.com/onesearchgame" target="_blank">
                         Facebook</a>.
                        View the <a href="http://github.com/chrisjluc/Onesearch" target="_blank">source code</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Mine</h2>
                        <p>In-development</p>
                    </div>
                    <div class="card-content">
                        <p>
                        Provides a single channel for writing and reading reviews
                        for those looking to discover and learn about new electronic products.
                        View the
                        <a href="http://github.com/aaronte/mine-node/" target="_blank">source code</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Uniq</h2>
                        <p>Beta</p>
                    </div>
                    <div class="card-content">
                        <p>
                        Post-secondary research process reimagined for prospective students.
                        Compare and assess university and college programs across multiple schools.
                        Visit our <a href="https://www.facebook.com/Uniqios" target="_blank">Facebook</a> to learn more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>TDL</h2>
                    </div>
                    <div class="card-content">
                        <p>
                        Android To-Do-List that focuses on displaying your tasks
                        grouped by expected completion dates and hashtags.
                        View the
                        <a href="http://github.com/chrisjluc/tdl-gradle" target="_blank">
                            source code</a>.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Nibbble</h2>
                    </div>
                    <div class="card-content">
                        <p>
                        Android app that changes your wallpaper on a specified time interval, based on images
                        from the Dribbble API.
                        View the
                        <a href="http://github.com/chrisjluc/Nibbble" target="_blank">
                            source code</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    $(window).resize(function() {
        if($(document).width() >= 752) {
            HeightEqualizer($('.card'), '.card-content');
        } else {
            $('.card').css('height', '');
        }
    });
    if($(window).width() >= 752)
        HeightEqualizer($('.card'), '.card-content');
});
</script>
