<div class="container-fluid">
	<div class="hero-unit">
		<div class="row referenceItem">
			<p>Chris worked with me for four months, during this time he worked hard and enjoyed what he was working on.  He participated in our agile environment as overall was a valuable team member.  He learned a significant amount in his time at Tangam allowing him to help and in some cases lead through some of the complex portions of our software product in the last half of his coop term.</p>
			<div class="right">
				<p>Chris Taylor</p>
				<p>Lead Developer</p>
				<p>Tangam Systems</p>
			</div>
		</div>
		<div class="row referenceItem">
			<p>Chris is a team driven individual that gets on well with those around him. He always brought his keen analytical skills to the table. He is focused and dedicated to producing his very best at all times. He has shown that he is able to deal with many complicated technical problems, and I recommend him highly.</p>
			<div class="right">
				<p>Jamil Shamy</p>
				<p>Agile Software Engineer</p>
				<p>Pivotal Labs</p>
			</div>
		</div>
	</div>
</div>

